<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Restablecer contraseña</h1>
    <span>Escriba su nueva contraseña</span>
    <form action="/newpassword" method="POST">
        <input type="password" name="password" placeholder="Escriba su nueva contraseña ">
        <input type="password" name="password" placeholder="Repita su contraseña">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>